<div class="gCenterRight show">
  <div>
    <h2 class="gHBorder">Welcome on my page</h2>


    <h3>A little about me:</h3>
    <p>My name is Damian and I'm 30 years old. I started programming on my own in October 2019. I love traveling and spend time for growing my skills.</p>
    <br>
    <p>These are my main achievements in my life:</p>
    <ul>
      <li>I created two commercial app for MediaExpert company in Poland. Angular & Django.</li>
      <li>I had own business for three years.</li>
      <li>I lived for almost two years on the island of Java, Indonesia and I worked as company owner.</li>
      <li>When I worked for "Play" mobile company I created guidebook for new hires and then I was promoted to supervisor.</li>
    </ul>
  </div>
</div>
