<ul>
  <li id="blue" class="gPointer" [ngClass]="{'gBlue white': navColor==color.blue}" (click)="linkClick(color.blue,'about-me')"  ><span>About me</span></li>
  <li id="green" class="gPointer " [ngClass]="{'gGreen white': navColor==color.green}" (click)="linkClick(color.green,'skills')" ><span>Skills</span></li>
  <li id="orange" class="gPointer " [ngClass]="{'gOrange white': navColor==color.orange}" (click)="linkClick(color.orange,'portfolio')"  ><span>Portfolio</span></li>
  <li id="purple" class="gPointer " [ngClass]="{'gPurple white': navColor==color.purple}" (click)="linkClick(color.purple,'contact')"  ><span>Contact</span></li>
</ul>
